include CONTRIBUTORS.txt
include COPYING 
include doc/conf.py
recursive-include doc *.rst
recursive-include alter_django_pagination/locale *.po
recursive-include alter_django_pagination/templates/pagination *.html
recursive-include alter_django_pagination/test_project/example/templates *.html
